<% @posts.each do |post| %>
  <div class="d-flex align-items-center border-bottom mt-2">
    <div class="col-sm-4"><%= post.content %></div>
    <div class="col-sm-3"><%= post.tag.name %></div>
    <div class="col-sm-4">
      <%= link_to "投稿削除", admin_post_path(post), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>
