<div class="row mt-3">
  <div class="d-flex align-items-center col-sm-7 offset-md-2">
  <%= form_with model: [post, post_comment], local: false do |f| %>
    <div><%= f.text_area :comment, size: "40x4", placeholder: "コメントをここに" %><div>
    <div class="actions text-right mt-2 mb-2">
      <%= f.submit "送信する", class: "btn btn-success" %>
    </div>
  <% end %>
  </div>
</div>