<% @post_comments.each do |post_comment| %>
  <div class="d-flex align-items-center border-bottom mt-2">
    <div class="col-sm-2">
      <%= post_comment.created_at.strftime('%Y/%m/%d') %>
    </div>
    <div class="col-sm-3"><%= post_comment.comment %></div>
    <div class="sentiment-score col-sm-4">感情分析スコア[<%= post_comment.score %>]</div>
    <div class="col-sm-2">
      <%= link_to "削除", admin_post_post_comment_path(post_comment.post,post_comment), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>
