<div class="container">
  <div class="row mt-2">
    <div class="col-sm-12">
    </div>
    <div class="col-md-4 text-center">
      <div class="mt-2">
        <h3>お気に入り投稿一覧</h3>
      </div>
    </div>
  </div>

　<%= render 'public/posts/index', posts: @favorite_posts %>

</div>