<div class= "container-fluid bg-secondary">
  <div class="row">
    <div class="col-md-3 mt-5 mb-3">

      <%= link_to root_path do %>
  <i class="fas fa-thermometer fa-4x" style="color: #ffffff"></i>
      <% end %>

    </div>
  </div>
</div>